langchain
langchain-community
langchain-text-splitters
langchain-google-genai
langchain-groq==0.1.9
langchain-chroma
langchain-pinecone
pinecone-client
chromadb
pypdf
python-dotenv
google-generativeai
posthog<3.12.0
fastapi
uvicorn
python-multipart
sqlalchemy
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
pytesseract
pdf2image
supabase
